In [2]:
import pandas as pd

In [27]:
df = pd.read_parquet(
        "/Users/TimothyW/Fun/cricket_prediction/data/processed_first_innings/first_innings_processed.parquet"
    )
df = df[~df.city.isna()]

In [28]:
from sklearn.model_selection import GroupKFold

In [29]:
X = df[['batter','batter_runs']]
y = df[['first_innings_total_runs']]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 578558 entries, 0 to 299
Data columns (total 61 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   over_n                    578558 non-null  int64
 1   batter                    578558 non-null  object
 2   bowler                    578558 non-null  object
 3   non_striker               578558 non-null  object
 4   batter_runs               578558 non-null  int64
 5   extras_runs               578558 non-null  int64
 6   total_delivery_runs       578558 non-null  int64
 7   wicket_player_out         15689 non-null   object
 8   wicket_kind               15689 non-null   object
 9   wicket_taken              578558 non-null  bool
 10  over_ball_n               578558 non-null  int64
 11  over_fractional           578558 non-null  float64
 12  overall_ball_fraction     578558 non-null  float64
 13  batting_team              578558 non-null  object
 14  first_innings_total_runs  578558 non-null  int64
 15  current_runs              578558 non-null  int64
 16  current_wickets           578558 non-null  int64
 17  overall_ball_n            578558 non-null  int64
 18  total_balls_bowled        578558 non-null  int64
 19  innings_balls_left        578558 non-null  int64
 20  total_wickets_lost        578558 non-null  int64
 21  batter_current_runs       578558 non-null  int64
 22  data_version              578558 non-null  object
 23  date_created              578558 non-null  object
 24  revision                  578558 non-null  int64
 25  city                      578558 non-null  object
 26  date                      578558 non-null  object
 27  match_type                578558 non-null  object
 28  toss_winner               578558 non-null  object
 29  team_one                  578558 non-null  object
 30  team_two                  578558 non-null  object
 31  batter_won_toss           578558 non-null  bool
 32  bowling_team              578558 non-null  object
 33  year                      578558 non-null  object
 34  runs_per_ball             577188 non-null  float64
 35  match_id                  578558 non-null  object
 36  team_one_player_0         578558 non-null  object
 37  team_one_player_1         578558 non-null  object
 38  team_one_player_2         578558 non-null  object
 39  team_one_player_3         578558 non-null  object
 40  team_one_player_4         578558 non-null  object
 41  team_one_player_5         578558 non-null  object
 42  team_one_player_6         578558 non-null  object
 43  team_one_player_7         578558 non-null  object
 44  team_one_player_8         578558 non-null  object
 45  team_one_player_9         578558 non-null  object
 46  team_one_player_10        578558 non-null  object
 47  team_two_player_0         578558 non-null  object
 48  team_two_player_1         578558 non-null  object
 49  team_two_player_2         578558 non-null  object
 50  team_two_player_3         578558 non-null  object
 51  team_two_player_4         578558 non-null  object
 52  team_two_player_5         578558 non-null  object
 53  team_two_player_6         578558 non-null  object
 54  team_two_player_7         578558 non-null  object
 55  team_two_player_8         578558 non-null  object
 56  team_two_player_9         578558 non-null  object
 57  team_two_player_10        578558 non-null  object
 58  team_one_player_11        10734 non-null   object
 59  team_two_player_11        10914 non-null   object
 60  batting_team_balls_faced  578558 non-null  int64
dtypes: bool(2), float64(3), int64(15), object(41)
memory usage: 265.9+ MB

In [31]:
gkf = GroupKFold(5)

In [32]:
for train_index, test_index in gkf.split(X,y, df['match_id']):
    print(train_index, test_index)

[   303    304    305 ... 578555 578556 578557] [     0      1      2 ... 577944 577945 577946]
[     0      1      2 ... 578255 578256 578257] [   597    598    599 ... 578555 578556 578557]
[     0      1      2 ... 578555 578556 578557] [   303    304    305 ... 576242 576243 576244]
[     0      1      2 ... 578555 578556 578557] [  1155   1156   1157 ... 577334 577335 577336]
[     0      1      2 ... 578555 578556 578557] [   851    852    853 ... 578255 578256 578257]